* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: #edbfff;
  z-index: 8;
  mix-blend-mode: difference;
  /* transition: all 0.1s linear; */
  transition: background-image 0.5s ease;
  background-position: center;
  background-size: cover;
  transition: left 0.1s linear top 0.1s linear;
}

#purple {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
  background-color: rgb(212, 38, 212);
  opacity: 0;
  display: none;
  transition: all 1s ease;
}

.main {
  background-color: #0f0d0d;
  cursor: none;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 12vw;
  z-index: 9;
}

#nav {
  height: 55px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 102;
}

#nav img {
  height: 26px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#nav #circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
}

#nav h4 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

#nav h4:nth-child(1) {
  /* text-decoration: underline; */
  border-bottom: 1.5px solid #fff;
}

.page1 h1 {
  font-size: 8vw;
  font-weight: 300;
  margin-left: 6vw;
}

.page1 h2 {
  font-size: 8vw;
  font-weight: 300;
  margin-left: 20vw;
}

.page1 video {
  /* margin-left: auto;
    margin-right: auto; */
  width: 60%;
  margin-top: 10vw;
  /* margin-left: 20%; */
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

/* page1 ends */

.page2 {
  min-height: 80vh;
  width: 100%;
  padding: 100px 5vw;
  border-bottom: 2px solid #6d6a6a;
  /* margin-bottom: 5rem; */
  position: relative;
  z-index: 9;
}

.page2-container {
  height: 60vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 5vw; */
}

.page2 h1 {
  font-size: 7vw;
  font-weight: 500;
  color: #111;
}

.page2-left {
  /* background-color: blue; */
  width: 38%;
}

.page2-right {
  /* background-color: blue; */
  width: 30%;
}

.page2-left h2 {
  font-size: 4vw;
  font-weight: 300;
  color: #111;
  line-height: 4vw;
}

.page2-right p {
  font-size: 1.6vw;
  color: #111;
}

.page2-right button {
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 4px 0;
  background-color: #edbfff;
  color: #111;
  margin-top: 20px;
}

/* page2 ends */

.page3 {
  min-height: 150vh;
  /* height: 350vh; */
  width: 100%;
  position: relative;
  padding-top: 100px;
  /* border: 5px solid red; */
  /* margin-bottom: 100px; */
  position: relative;
  z-index: 9;
}

.page3 h1 {
  font-size: 6.8vw;
  font-weight: 300;
  color: #111;
  margin-left: 100px;
}

.page3-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.page3-part1 img {
  height: 600px;
  margin-top: 160px;
}

/* page3 ends */

.page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 170px 100px;
}

.elem {
  /* background-color: salmon; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.elem img {
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-out;
  transform: translateY(10%) rotate(0deg);
}

.elem img:nth-child(1) {
  width: 400px;
  left: 0;
}

.elem img:nth-child(3) {
  width: 400px;
  height: 500px;
  top: 0%;
  right: 0%;
}

.text-div {
  /* background-color: lightblue; */
  height: 130px;
  overflow: hidden;
}

.elem h1 {
  font-size: 7.3vw;
  transition: all 0.5s ease-out;
}

/* .elem:hover{
    background-color: #111;
} */

.elem:hover h1 {
  transform: translateY(-100%);
  color: #a337ce;
}

.elem:hover img {
  opacity: 1;
  transform: translateY(10%) rotate(2deg);
}

/* page4 ends */

.page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 140px 100px;
}

.page5 h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
}

.box {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px;
  border-top: 1px solid #dadada;
}

.box:nth-last-child(1) {
  border-bottom: 1px solid #dadada;
}

/* page5 ends */


/* Footer Styles */
footer {
    padding: 20px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    height: 100vh;
    width: 100%;
    padding: 100px;
    /* background-color: #af30e0; */
}

footer a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.foot h2 {
  margin-bottom: 10px;
}

.foot ul li {
  transition: all 0.1s ease-in-out;
  list-style: none;
}

footer .foot:nth-child(2) ul li {
  margin-bottom: 10px;
}

.foot ul li:hover {
  transform: scale(1.05);
}

.social {
  display: flex;
  gap: 5px;
}

.social li a {
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 50%;
}

.social li:hover a {
  color: #0000ff;
}

footer h1 {
  font-size: 20px;
}

@media (max-width: 550px) {
  footer {
    flex-wrap: wrap;
    gap: 10px;
  }
  footer .foot {
    width: 48%;
    /* margin-bottom: 20px; */
  }
  footer .foot:nth-child(2) ul li {
    margin-bottom: 15px;
  }
}

@media (max-width: 498px) {
  footer .foot {
    width: 100%;
  }
}

.end {
  text-align: center;
  width: 100%;
  /* height: 40px; */
  padding: 20px;
  color: black;
}

